In [ ]:
#https://www.melon.com/chart/index.htm
#https://music.bugs.co.kr/chart
#https://www.genie.co.kr/chart/top200

In [1]:
from selenium import webdriver
from bs4 import BeautifulSoup

In [4]:
driver = webdriver.Chrome("C:/Users/hyeon/Desktop/selenium_vscode_test/chromedriver.exe")
url = "http://www.melon.com/chart/index.htm"
driver.get(url)

In [5]:
html = driver.page_source
soup = BeautifulSoup(html, 'lxml')

In [6]:
song_data = []
rank = 1

songs = soup.select('table > tbody > tr')
for song in songs:
    title = song.select('div.rank01 > span > a')[0].text
    singer = song.select('div.rank02 > a')[0].text
    song_data.append(['Melon', rank, title, singer])
    rank = rank + 1

In [7]:
import pandas as pd
columns = ['서비스', '순위', '타이틀', '가수']
pd_data = pd.DataFrame(song_data, columns = columns)
pd_data.head()

     서비스  순위                  타이틀             가수
0  Melon   1                  신호등            이무진
1  Melon   2               바라만 본다  MSG워너비(M.O.M)
2  Melon   3           Next Level          aespa
3  Melon   4        낙하 (with 아이유)      AKMU (악뮤)
4  Melon   5  Permission to Dance          방탄소년단

In [9]:
pd_data.to_excel('./list_music/melon.xlsx', index=False)